hepstats
hepunits
hist
jupyter-book  # docs
matplotlib
mplhep
nbval
numba
numpy
pandas
particle
progressbar2
scikit-hep-testdata

seaborn
sphinx-panels  # docs
sysrsync  # docs
zfit>=0.12
zfit-physics>=0.2.0
