hepstats
hepunits
hist
jupyter-book  # docs
matplotlib
mplhep
myst-nb
nbval
numba
numpy
pandas
particle
scikit-hep-testdata
seaborn
sphinx>5
sphinx-book-theme
sphinx-copybutton
sphinx-panels  # docs
sphinx-thebe
sphinx-togglebutton
sysrsync  # docs
zfit>=0.20
zfit-physics>=0.6
