name: tests

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:

jobs:
  notebooks:
    runs-on: ubuntu-latest
    timeout-minutes: 150
    strategy:
      max-parallel: 8
      fail-fast: False
      matrix:
        use-graph: [ 0, 1 ]
        python-version: [ "3.9", "3.12" ]
    name: Run notebooks, Python ${{ matrix.python-version }}, compiled = ${{ matrix.use-graph }}
    steps:
      - uses: SimenB/github-actions-cpu-cores@v2
        name: Get number of CPU cores
        id: cpu-cores
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        name: Set up Python ${{ matrix.python-version }}
        with:
          python-version: ${{ matrix.python-version }}

      - shell: bash -l {0}
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest-xdist nbval
          pip install -U -r requirements.txt
          pip install git+https://github.com/zfit/zfit
      - name: Run notebooks
        run: |
          ZFIT_DO_JIT=${{ matrix.use-graph }}
          pytest --nbval-lax --dist loadscope --ignore=experimental --ignore=_unused --ignore=_website -n${{ steps.cpu-cores.outputs.count }}
