name: tests

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:

jobs:
  notebooks:
    runs-on: ubuntu-latest
    timeout-minutes: 150
    strategy:
      max-parallel: 8
      fail-fast: False
      matrix:
        use-graph: [ 0, 1 ]
        python-version: [ "3.10", "3.13" ]
    name: Run notebooks, Python ${{ matrix.python-version }}, compiled = ${{ matrix.use-graph }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        name: Set up Python ${{ matrix.python-version }}
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - shell: bash -l {0}
        name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt pytest-xdist nbval git+https://github.com/zfit/zfit
      - name: Run notebooks
        run: |
          ZFIT_DO_JIT=${{ matrix.use-graph }}
          pytest --nbval-lax --dist loadscope -n auto
